<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897607184986-gom00hhm21fka8t9kd6c90p51l1if821.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897607184986-gom00hhm21fka8t9kd6c90p51l1if821</string>
	<key>API_KEY</key>
	<string>AIzaSyAu5QfNReg1nvY2clPKFwLeRLkpNC02sG0</string>
	<key>GCM_SENDER_ID</key>
	<string>897607184986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.za.zanderkotze.mywebsite</string>
	<key>PROJECT_ID</key>
	<string>my-website-1135d</string>
	<key>STORAGE_BUCKET</key>
	<string>my-website-1135d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897607184986:ios:d4560224ef7e7a6ee0de63</string>
</dict>
</plist>